.dashboard {
  font-size: 14px;
  .dashboard-body {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0
  }
}
.font-active {
  color: dodgerblue;
}
/*  页面主题结构*/
.dashboard-header{
  position: relative;width: 100%;height: 60px;z-index: 100;font-size: 18px;background: #fff;box-shadow: 0 2px 1px #F4F4F4;line-height: 60px;padding: 5px;
  .dashboard-header-nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    .nav {
      line-height: 60px;
      cursor: pointer;
    }
  }
}

/* 左侧工具栏样式*/
.widget-cate {
  padding: 12px;
  font-size: 14px
}
.widget-block {
  padding: 0 10px 10px;
}

.widget-label {
  font-size: 12px;
  display: block;
  width: 50%;
  line-height: 26px;
  float: left;
  left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px;
  color: #333;
  cursor: move;
}
.widget-label a:hover{
  border: 1px dashed #77BDFF;
  color: #0DB3A6
}
.widget-label a {
  display: block;
  cursor: move;
  background: #F4F6FC;
  padding-left: 4px;
  border: 1px solid #F4F6FC
}
/* 拖拽动画样式*/
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.frame-inner-list {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto
}
.ghost-tool-bar{
  opacity: 1;
  //background: #fff;
  width: 100%;
  height: 60px;
  background: #F4F6FC;
  margin: 10px 0;
  line-height: 20px;
  padding: 5px 10px 10px;
  position: relative;
}
.ghost-form {
  border: 2px dotted #0DB3A6;
  width: 100%;
}
/*.sortable-chosen {
  padding: 10px 0;
}*/
/* 工具栏拖拽样式*/
.drag-tool-bar-class {
  color: #0DB3A6;
}
/* 表格列表样式*/
.gridList {
  height: calc(100vh - 302px);
  min-height: 310px;
  .grid-container {
    height: 100% !important;
  }
  .tb {
    height: 100% !important;
  }
}
.frame-left {
  position: absolute;
  top: 0px;
  left: 0;
  width: 250px;
  height: 100%;
  border-right: 1px solid #e0e0e0;

}
.frame-left-top {
  height: 40px;
  width: 100%;
  line-height: 40px;
  background: #F3F6FC;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.frame-left-top-label {
  width: 50%;float:left;text-align: center;
}
.frame-container{
  position: absolute;
  top: 0;
  left: 250px;
  right: 300px;
  bottom: 0;
  .frame-container-bar{
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    border-bottom: solid 1px #e0e0e0;
    padding: 8px 0;
    width: 100%;
    position: relative;
    float: right;
    display: inline-block;
  }
  .frame-container-draggable {
    position: absolute;
    top: 45px;
    bottom: 0;
    width: 100%
  }
}
.frame-right{width: 300px;position: absolute;right: 0;top: 0;height: 100%;border:1px solid #eee}
.wd-100_ct {
  text-align: center;float: left;width: 100%
}
canvas {
  outline: none;
  border: 0
}
.drive {
  margin: 8px 0;
  width: 100%;
  height: 1px;
  background: #cccccc;
}
